input {
    color: var(--dark);
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 0.3rem;
    padding-left: 1rem;
    text-overflow: ellipsis;
}

input::placeholder {
    color: var(--grey);
}

input:hover {
    border: 2px solid var(--dark);
}

input:focus {
    color: var(--dark);
    border: 2px solid var(--grey);
    outline: none;
}
