.personal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 16.5rem;
    padding-top: 1rem;
}

.personal p {
    color: var(--dark);
}
