.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
}

.calendar:hover {
    color: var(--dark-green);
}

.calendar:active {
    height: 95%;
}

@media (max-width: 768px) {
    .calendar {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .calendar {
        width: 100%;
        height: 100%;
    }
}