.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    height: 8rem;
    text-align: center;
    background: var(--grey);
}

@media (max-width: 768px) {
    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .footer p {
        font-size: 0.8rem;
    }
}