.offer {
    width: 50%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.offer p {
    color: var(--dark);
}

.price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price p {
    line-height: 1.5rem;
}

@media (max-width: 1080px) {
    .price p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .price p {
        font-size: 0.6rem;
    }
}

@media (max-width: 480px) {
    .price p {
        font-size: 0.5rem;
    }
}
