.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42rem;
    width: 100%;
    max-width: 1440px;
}

@media (max-width: 768px) {
    .content {
        height: 38rem;
    }
}

@media (max-width: 480px) {
    .content {
        height: 34rem;
    }
}
