.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    gap: 3%;
}

.inputs input {
    height: 100%;
    border-radius: 10px;
}