.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 11vh;
}

.inputItem {
    flex: 1 1 calc(33.333% - 10px);
    min-width: 100px;
}

@media (max-width: 768px) {
    .inputItem {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .inputItem {
        flex: 1 1 100%;
    }
}