.proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 38rem;
    gap: 2rem;
}

@media (max-width: 768px) {
    .proposition {
        width: 90%;
    }
}