.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22rem;
    background: var(--grey);
}

@media (max-width: 768px) {
    .footer {
        height: 16rem;
    }
}

@media (max-width: 480px) {
    .footer {
        height: 38rem;
    }
}