.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.1rem;
    width: 100%;
    height: 8.5rem;
    background-color: var(--white);
    border: 2px solid var(--grey);
    border-radius: 0.6rem;
    box-shadow:
            0 8px 15px rgba(0, 0, 0, 0.1),
            0 3px 6px rgba(0, 0, 0, 0.05);
}

.item:hover {
    border: 3px solid var(--light-green);
}

.image {
    width: 16%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.name {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90%;
}

.name p {
    color: var(--dark);
}

.favourite {
    display: flex;
    gap: 1rem;
}

.favourite p {
    font-size: 1.25rem;
    color: var(--light-green);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 1.25rem;
    color: var(--light-green);
    font-weight: bold;
    cursor: pointer;
}

.attractions {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 75%;
    gap: 5%;
    padding-left: 1rem;
}

.customListItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.customStep {
    display: inline-block;
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    border: 4px solid var(--grey);
    border-radius: 50%;
    margin-right: 0.5rem;
    transition: background-color 0.5s ease;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 22%;
    height: 80%;
}

.details p {
    color: var(--dark);
}

.attraction {
    font-weight: bold;
    font-size: 1.1rem;
}
