.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 32rem;
    border-radius: 10px;
    background: var(--light-green);
}

@media (max-width: 768px) {
    .panel {
        width: 22rem;
        height: 28rem;
    }
}

@media (max-width: 480px) {
    .panel {
        width: 18rem;
        height: 24rem;
    }
}