.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

.text p {
    font-size: 0.8rem;
    color: var(--grey);
}

@media (max-width: 1080px) {
    .text p {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .text {
        width: 0;
        height: 0;
        display: none;
    }
}
