.button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 4rem;
    width: 100%;
}

.button button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
}

.button button:active {
    font-size: 0.95rem;
}

.error {
    color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 70%;
}

@media (max-width: 768px) {
    .button button {
        width: 7rem;
        height: 2.3rem;
        font-size: 0.9rem;
    }

    .button button:active {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .button button {
        width: 6rem;
        height: 2.1rem;
        font-size: 0.8rem;
    }

    .button button:active {
        font-size: 0.75rem;
    }
}
