.button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 13vh;
    width: 90%;
}

.button button {
    width: 9vw;
    height: 2.5rem;
    font-size: 1rem;
}

.button button:active {
    font-size: 0.95rem;
}