.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2rem;
}

@media (max-width: 768px) {
    .copyright {
        width: 90%;
    }

    .copyright p {
        font-size: 0.8rem;
    }
}