.proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 75vh;
    gap: 5vh;
}

@media (max-width: 768px) {
    .proposition {
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .proposition {
        width: 90vw;
    }
}