.page {
    height: 20rem;
    width: 100%;
    padding-top: 2.5rem;
    padding-left: 5rem;
}

@media (max-width: 768px) {
    .page {
        padding-top: 1.5rem;
        padding-left: 3rem;
    }
}

@media (max-width: 480px) {
    .page {
        padding-top: 0.5rem;
        padding-left: 1rem;
    }
}
