.personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 35rem;
    border: 2px solid var(--grey);
    border-radius: 0.4rem;
}

@media (max-width: 480px) {
    .personal {
        height: 32rem;
    }
}