.label {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label p {
    color: var(--dark);
}

@media (max-width: 480px) {
    .label p {
        font-size: 0.75rem;
    }
}
