.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

@media (max-width: 1080px) {
    .text p {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .text {
        width: 0;
        height: 0;
        display: none;
    }
}

@media (max-width: 480px) {
    .text {
        width: 0;
        height: 0;
        display: none;
    }
}