.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .footer {
        height: 16rem;
    }
}

@media (max-width: 480px) {
    .footer {
        height: 38rem;
    }
}