.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 24rem;
    width: 100%;
    padding-left: 5rem;
}

.error {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1rem;
    width: 90%;
    color: var(--light-green);
}

@media (max-width: 768px) {
    .page {
        padding-left: 3rem;
    }
}

@media (max-width: 480px) {
    .page {
        padding-left: 1rem;
    }
}
