:root {
    --white: #FFF9F7;
    --grey: #E8E8E8;
    --light-green: #117E1D;
    --green: #0D5514;
    --dark-green: #09390E;
    --dark: #031500;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Inter', serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    background: var(--white);
}