:root {
    --white: #FFF9F7;
    --grey: #E8E8E8;
    --light-green: #117E1D;
    --green: #0D5514;
    --dark-green: #09390E;
    --dark: #031500;

    --font-regular: 1.25rem;
    --font-regular-header: 1.5rem;
    --font-medium: 1.5rem;
    --font-medium-header: 2rem;
    --font-bold: 1.25rem;
    --font-bold-header: 1.5rem;

    --regular: 400;
    --medium: 500;
    --bold: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-family: 'Inter', serif;
    font-size: 100%;
    font-weight: var(--regular);
    line-height: 1.6;
    overflow-x: hidden;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
    body {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 85%;
    }
    body {
        flex-direction: column;
    }
}