.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 10vh;
    background-color: var(--white);
    border-radius: 1rem;
    border: 3px solid var(--grey);
}