.part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 22.5rem;
}

.partPremium {
    height: 25rem;
}

@media (max-width: 768px) {
    .part {
        height: 27rem;
    }
}
