.information {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70vw;
    height: 25vh;
    background: var(--white);
}

@media (max-width: 768px) {
    .information {
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .information {
        width: 90vw;
        height: 20vh;
    }
}