.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: 90%;
    height: 6rem;
    border-bottom: 1px solid var(--grey);
}

.header p {
    font-size: 1.3rem;
    cursor: pointer;
}

.header p:hover {
    color: var(--dark-green);
}

.header .active {
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        height: 5rem;
        gap: 9vw;
    }

    .header p {
        font-size: 0.9rem;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .header {
        height: 4rem;
        gap: 8vw;
    }

    .header p {
        font-size: 0.7rem;
        cursor: pointer;
    }
}