.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 5rem;
}

.title p {
    color: var(--light-green);
}

@media (max-width: 480px) {
    .title p {
        font-size: 1.25rem;
    }
}