.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 70%;
    height: 10rem;
    background-color: var(--white);
    border: 2px solid var(--grey);
    border-radius: 0.6rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .content {
        width: 90%;
        gap: 0.4rem;
    }
}