.list {
    height: 10rem;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 3px solid var(--light-green);
    border-radius: 0.25rem;
    background-color: white;
}

.delete {
    color: var(--dark);
    background-color: var(--white);
    border: 2px solid var(--grey);
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.delete:hover {
    background-color: var(--grey);
}
