.dashboard {
    width: 100%;
    background-color: #444444;
    background-image: url('../../../../assets/images/dashboard.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 30rem;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1680px) {
    .content {
        height: 40rem;
    }
}
