.text {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white);
}

@media (max-width: 768px) {
    .text {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .text {
        font-size: 0.75rem;
    }
}