.date {
    width: 99.1%;
    min-height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid var(--green);
    background: var();
    border-radius: 0.6rem;
    padding-left: 0.1rem;
    background: var(--light-green);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6rem;
    width: 40%;
    gap: 0.8rem;
    padding-left: 1rem;
    border-right: 2px solid var(--green);
}

.time p {
    color: var(--white);
}

.name {
    display: flex;
    align-items: center;
    min-height: 6rem;
    width: 60%;
    padding-left: 1rem;
}

.name p {
    color: var(--white);
}
