.icon {
    width: 80%;
    height: 80%;
}

@media (max-width: 768px) {
    .icon {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 480px) {
    .icon {
        width: 60%;
        height: 60%;
    }
}