.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    transition:
        font-size 0.1s,
        background-color 0.3s;
    cursor: pointer;
}

.greyButton {
    color: var(--dark);
    background-color: var(--white);
    border: 2px solid var(--grey);
}

.greyButton:hover {
    background-color: var(--grey);
}

.greenButton {
    color: var(--white);
    background-color: var(--green);
    border: 2px solid var(--dark-green);
}

.greenButton:hover {
    background-color: var(--dark-green);
}
