.button {
    width: 10rem;
    height: 2.5rem;
    background-color: var(--white);
    cursor: pointer;
    color: var(--dark);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--grey);
    transition: background-color 0.3s;

}

.button:hover {
    background-color: var(--grey);
}