.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    flex: 0 0 9rem;
    height: 9rem;
    background-color: var(--grey);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    filter: grayscale(70%);
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.4rem;
}

.panel:hover {
    filter: grayscale(20%);
}

.panel p {
    color: var(--white);
    white-space: normal;
}

.panel:active p {
    font-size: 1.2rem;
}