.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 11rem;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .content p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .content {
        width: 90%;
        height: 9rem;
    }

    .content p {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        height: 31rem;
        width: 90%;
    }
}
