.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 100%;
}

@media (max-width: 768px) {
    .date {
        width: 10%;
    }
}

@media (max-width: 480px) {
    .date {
        width: 10%;
    }
}