.title {
    display: flex;
    align-items: flex-end;
    width: 90%;
    height: 4rem;
}

.title p {
    color: var(--dark);
}

@media (max-width: 480px) {
    .title {
        height: 3rem;
    }

    .title p {
        font-size: 1.25rem;
    }
}
